nodeSmartLocker.json
[{"id":"d146d52d.52a0c8","type":"mqtt in","z":"d07e62c.206cca","name":"","topic":"projeto/msg","qos":"2","broker":"ebff085a.0d0338","x":310,"y":280,"wires":[["692a480c.9f1a78"]]},{"id":"692a480c.9f1a78","type":"ui_text","z":"d07e62c.206cca","group":"8107e784.e602c8","order":1,"width":0,"height":0,"name":"","label":"Mensagem","format":"{{msg.payload}}","layout":"row-left","x":710,"y":280,"wires":[]},{"id":"f4535877.bebf68","type":"mqtt out","z":"d07e62c.206cca","name":"","topic":"projeto/trava","qos":"2","retain":"","broker":"ebff085a.0d0338","x":710,"y":360,"wires":[]},{"id":"439596b9.f11f48","type":"ui_text","z":"d07e62c.206cca","group":"8193c290.a46cc","order":1,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":500,"wires":[]},{"id":"1ef86c01.3194a4","type":"mqtt in","z":"d07e62c.206cca","name":"","topic":"projeto/ca","qos":"2","broker":"ebff085a.0d0338","x":280,"y":500,"wires":[["439596b9.f11f48"]]},{"id":"ae9e3590.c08178","type":"ui_text","z":"d07e62c.206cca","group":"8107e784.e602c8","order":2,"width":0,"height":0,"name":"","label":"Status Porta","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":140,"wires":[]},{"id":"4a862211.a0a2fc","type":"mqtt in","z":"d07e62c.206cca","name":"","topic":"projeto/sp","qos":"2","broker":"ebff085a.0d0338","x":300,"y":140,"wires":[["ae9e3590.c08178"]]},{"id":"1fb9ba39.a804c6","type":"ui_button","z":"d07e62c.206cca","name":"","group":"8107e784.e602c8","order":4,"width":0,"height":0,"passthru":false,"label":"Destravar fechadura por 4 segundos","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"projeto/trava","x":370,"y":360,"wires":[["f4535877.bebf68"]]},{"id":"40d3c7c0.d5d3b8","type":"ui_text","z":"d07e62c.206cca","group":"8107e784.e602c8","order":3,"width":0,"height":0,"name":"","label":"Status Fechadura","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":200,"wires":[]},{"id":"dd52b597.0e2538","type":"mqtt in","z":"d07e62c.206cca","name":"","topic":"projeto/sf","qos":"2","broker":"ebff085a.0d0338","x":300,"y":200,"wires":[["40d3c7c0.d5d3b8"]]},{"id":"ffbbc346.f3409","type":"mqtt out","z":"d07e62c.206cca","name":"","topic":"projeto/cad","qos":"2","retain":"","broker":"ebff085a.0d0338","x":650,"y":420,"wires":[]},{"id":"fca6c996.82ce38","type":"ui_button","z":"d07e62c.206cca","name":"","group":"8193c290.a46cc","order":3,"width":0,"height":0,"passthru":false,"label":"Cadastrar cartão","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"projeto/cad","x":310,"y":420,"wires":[["ffbbc346.f3409"]]},{"id":"ebff085a.0d0338","type":"mqtt-broker","z":"","name":"broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8107e784.e602c8","type":"ui_group","z":"","name":"Fechadura Digital","tab":"dbdae7a6.9863d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"8193c290.a46cc","type":"ui_group","z":"","name":"Cadastro","tab":"dbdae7a6.9863d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"dbdae7a6.9863d8","type":"ui_tab","z":"","name":"Smart Locker","icon":"dashboard","order":1}]